<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TC_CoilOperation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TC_CoilOperation.Properties.Settings>
            <setting name="Inverted_Value_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Inverted_Value_Y" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="Inverted_Value_Z" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="Offset_Value_X" serializeAs="String">
                <value>-3200</value>
            </setting>
            <setting name="Offset_Value_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset_Value_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lifter_Signal_Interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Lifter_Signal_ON_Judgment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Lifter_Signal_OFF_Judgment" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Lifter_Manualmode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Oracle_UserID" serializeAs="String">
                <value>COIL</value>
            </setting>
            <setting name="Oracle_UserPass" serializeAs="String">
                <value>COIL</value>
            </setting>
            <setting name="Oracle_ServiceName" serializeAs="String">
                <value>COIL</value>
            </setting>
            <setting name="Add_day" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="xport_name" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="yport_name" serializeAs="String">
                <value>com23</value>
            </setting>
            <setting name="zport_name" serializeAs="String">
                <value>com24</value>
            </setting>
            <setting name="xbaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ybaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="zbaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="xdatabit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ydatabit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="zdatabit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Lifter_DIOid" serializeAs="String">
                <value>DIO000000</value>
            </setting>
            <setting name="antena_decibel" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="antena_stoptime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XcomIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ZcomIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DIOcomIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MP3_1" serializeAs="String">
                <value>C:\\Users\\20001\\Desktop\\coilsound\\警告音1.mp3</value>
            </setting>
            <setting name="MP3_2" serializeAs="String">
                <value>C:\\Users\\20001\\Desktop\\coilsound\\警告音2.mp3</value>
            </setting>
            <setting name="YardID" serializeAs="String">
                <value>B2</value>
            </setting>
            <setting name="YcomIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="tagID" serializeAs="String">
                <value>0665-7477-4100</value>
            </setting>
            <setting name="RFIDcomIP" serializeAs="String">
                <value>169.254.200.100</value>
            </setting>
            <setting name="XTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="YTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ZTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Shutdownpass" serializeAs="String">
                <value>C:\Windows\System32\shutdown.exe</value>
            </setting>
            <setting name="antena_decibel_A" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="antena_decibel_B" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="antena_decibel_C" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="antena_decibel_D" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="antena_decibel_E" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="X_sikiti" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Y_sikiti" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Z_sikiti" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IDYARD" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Free_X" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Free_manual_mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="重複Y調整値" serializeAs="String">
                <value>500</value>
            </setting>
        </TC_CoilOperation.Properties.Settings>
    </userSettings>
</configuration>